/* Page Header */
.page-header .panel.wrapper { border: none; }
.header.panel>.header.links,
.header.panel>.header.links>li>a, .header.panel>.header.links>li>a:hover,
.header.panel>.header.links>li>a:visited { color: #000; }
/* Links */
a,
a:visited,
a.action.remind,
a.action.remind:visited,
.bundle-options-container button.action.back {
    color: #54b948;
}
a:hover,
a.action.remind:hover
.bundle-options-container button.action.back:hover {
    color: #2c9912;
}

a:hover { text-decoration: none; }

/* Buttons */
button.action.primary,
a.action.create.primary { 
    color: #FFF;
    background-color: #54b948;
    border-color: #54b948;
}
button.action.primary:hover,
button.action.primary:active,
button.action.primary:focus,
a.action.create.primary:hover { 
    background-color: #2c9912;
    border-color: #2c9912;
}
/* Navigation */
.navigation .level0.active > .level-top,
.navigation .level0.has-active > .level-top,
.navigation .level0 .submenu .active > a,
.block-collapsible-nav .item.current a,
.block-collapsible-nav .item.current > strong.fotorama__thumb-border {
	border-color: #000;
}
/* Breadcrumbs */
.breadcrumbs a,
.breadcrumbs a:visited {
    color: #54b948;
}

.breadcrumbs a:hover {
    color: #2c9912;
}

/* My Account Dropdown Links */
.customer-welcome li a,
.customer-welcome li a:visited {
	color: #575757 !important;
}
/* Arrow Next To Logged-In Customer's Name */
.customer-welcome .action.switch:after {
	color: #575757;
}
/* Language and Currency Switchers */
.page-header .switcher strong,
.page-footer .switcher strong,
.page-header .switcher .options .action.toggle,
.page-footer .switcher .options .action.toggle {
	color: #575757 !important;
}
/* Mini Cart Icon */
.minicart-wrapper .action.showcart:before {
	color: #575757 !important;
}
/* Mini Cart Items Count (Orange) */
.minicart-wrapper .action.showcart .counter.qty {
	background: #2c9912;
	color: #ffffff;
}
/* My Account Sidebar Links */
.block-collapsible-nav .item a,
.block-collapsible-nav .item > strong {
	color: #575757 !important;
}
/* Photo Gallery Outlines */
.fotorama__thumb-border {
	border-color: #000;
}
/* Swatch Borders */
.swatch-option.image:not(.disabled):hover,
.swatch-option.color:not(.disabled):hover,
.swatch-option.selected {
	outline: #000;
}
/* Shopping Cart Styles */
.cart.table-wrapper .wishlist.split.button > .action.split,
.cart.table-wrapper .wishlist.split.button > .action.toggle,
.gift-item-block .title,
.paypal-review-discount .block > .title strong,
.cart-discount .block > .title strong {
	color: #54b948;
}
.gift-options .actions-toolbar .secondary .action-cancel {
	background-color: white !important;
	color: #575757 !important;
}
/* Checkout Styles  - Orange Progress Bars, etc */
.opc-progress-bar-item._active:before,
.opc-progress-bar-item._active > span:before {
	background: #000;
	border-color: #000;
}
.opc-progress-bar-item._active > span:after,
.opc-wrapper .shipping-address-item.selected-item {
	border-color: #000;
}
.opc-wrapper .shipping-address-item.selected-item:after {
	background: #000;
}
/* Page Builder Styles */
/* Page Builder Primary Buttons */
a.pagebuilder-button-primary,
button.pagebuilder-button-primary,
div.pagebuilder-button-primary {
	background: #54b948 ;
	border: #54b948;
	color: white;
}
a.pagebuilder-button-primary:hover,
button.pagebuilder-button-primary:hover,
div.pagebuilder-button-primary:hover {
	background: #2c9912 ;
	border: #2c9912 ;
	color: white ;
}
/* Page Builder Buttons as Links */
a.pagebuilder-button-link,
button.pagebuilder-button-link,
div.pagebuilder-button-link {
	color: #54b948 !important;
}
/* Page Builder Slider Dots */
.slick-dots li.slick-active button {
	background: #54b948 !important;
}
/* Page Builder Slider Arrows */
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after {
	color: #54b948 !important;
}